<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Login 페이지</h1>
    <a href="/">홈</a>
    <a href="/user/signUp">회원가입</a>
    <br>
    <br>
    <form id="loginForm">
        <input type="text" id="id" name="id" placeholder="아이디를 입력해주세요.">
        <input type="password" id="pwd" name="pwd" placeholder="비밀번호를 입력해주세요.">
        <input type="button" value="로그인" onclick="onClickLoginButton()">
    </form>
</body>
<script>

    //로그인 폼을 가져옴
    let loginForm = document.getElementById("loginForm");

    //로그인 순서 : 1번
    // 로그인 버튼을 클릭했을 때 이벤트 핸들러
    let onClickLoginButton = () => {

        //폼의 요소를 가져옴
        let { id, pwd } = loginForm;

        //각각 요소의 value값이 빈 값인지 체크
        if (id.value === "") {
            alert("아이디를 입력해주세요.");
            return;
        }

        if (pwd.value === "") {
            alert("비밀번호를 입력해주세요.");
            return;
        }

        //로그인 순서 : 2번
        // 모두 정상적으로 값이 들어왔다면 서버로 전송
        $.ajax({
            data:
            {
                id: id.value,
                pwd: pwd.value,
            },
            url: "/user/login",
            type: "POST",
            success: (res) => { //응답이 제대로 왔을 경우.
                //로그인 순서 : 4번

                alert(res.message);

                //index.html페이지로 이동
                location.href = "/";
            },
            error: (e) => {
                console.log(e);
            }
        })
    }
</script>

</html>