<!DOCTYPE html>
<html>

<head>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>Delete 페이지</h1>
    <a href="/">홈</a>
    <a href="/user/login">로그인</a>
    <a href="/user/signUp">회원가입</a>
    <br>
    <br>
    <form id="deleteForm">
        <input type="text" id="id" name="id" placeholder="아이디를 입력해주세요.">
        <input type="password" id="pwd" name="pwd" placeholder="비밀번호를 입력해주세요.">
        <input type="button" value="삭제" onclick="">
    </form>
</body>
<script>

</script>

</html>